<div class="reports-container">
    <app-loader-spiner></app-loader-spiner>

    <div fxLayout="row" fxLayoutAlign="space-between center" class="filter-container floor-plan">
        <div class="top-section" fxLayout="row" fxFlex.gt-sm="100" fxLayoutGap="10px" [formGroup]="filterForm">
            <app-project-search-dropdown class="building-search" (projectId)="getprojectId($event)"></app-project-search-dropdown>
            <!-- <mat-form-field class="employee-search" appearance="outline" fxFlex.gt-sm="100">
                <mat-label>All Project</mat-label>
                <mat-select color="primary" formControlName="project">
                    <mat-option class="mat-primary" *ngFor="let item of projectArray" [value]="item.projectCode">
                        {{item.projectName}}
                    </mat-option>
                </mat-select>
            </mat-form-field> -->
        </div>
        <mat-form-field appearance="outline" fxFlex="50%">
            <mat-label>Search</mat-label>
            <input matInput [(ngModel)]="searchTerm">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

    </div>
     <mat-card style="position: relative; top: 10px;">
        <div class="top-section">
            <h1 class="name">{{projectName}}</h1>
            <ul class="room-type">
                <li><span>Last CreatedBy :-</span>{{createdBy}}</li>
                <li><span>Last CreatedOn:-</span>{{updatedBy | date:'mediumDate'}}</li>
            </ul>
        </div>
        <!-- GROUND FLOOR -->
    <ul class="topList" *ngFor="let wall of apiResponse.walls ">
        <span class="buildName">{{wall.levelDetail.levelName}}</span>
        <div class="toplevel top">
        <span><strong>Area Of Floor:- </strong>{{wall.levelDetail.areaOfFloor }} </span> 
        <span><strong>Level Revit Id:- </strong>{{wall.levelDetail.levelRevitId}} </span>
        <span><strong>Total Weight:- </strong>{{wall.levelDetail.totalWeightOnLevel}} </span>
        <span><strong>Weight Per Floor Area:- </strong>{{wall.levelDetail.weightPerFloorArea}} </span>
        </div>
            <li class="top-projectname">
                <ul class="level" >
                    <li *ngFor="let groundData of wall.walls | nestedfilter : searchTerm; let i = index; trackBy: trackByFuntion">
                        <mat-card>
                            <div class="toplevel">
                                <span><strong>Revit Wall Id: </strong>{{groundData.revitWallId}} </span>
                                <span><strong>Wall Type:  </strong>{{groundData.wallType}} </span>
                                <span><strong>Wall Name:  </strong>{{groundData.wallTypeName}} </span>
                                <span><strong>Wall Area: </strong>{{groundData.wallTypeArea}} m²</span>
                                <span><strong>Wall Height:  </strong>{{groundData.wallTypeHeight}} m</span>
                                <span><strong>Wall Length:  </strong>{{groundData.wallTypeLength}} m</span>
                                <span><strong>Wall Width:  </strong>{{groundData.wallTypeWidth}} m</span>
                                <span><strong>Wall Weight:  </strong>{{groundData.wallTypeWeight}} kN</span>
                                <!-- <span><strong>Weight Per Floor:- </strong>{{groundData.weightPerFloor}} </span> -->
                                <span><strong>Weight Per Unit:  </strong>{{groundData.weightPerUnit}} kN/m</span>
                            </div>
                        </mat-card>

                    </li>
                </ul>
            </li>
        </ul>
    </mat-card>
</div>