

<div class="container" novalidate>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">

    <mat-form-field class="form-element" appearance="outline">
      <mat-label>Old Password</mat-label>
      <input matInput type="password" placeholder="Old Password" formControlName="oldPassword">
      <mat-error *ngIf="!formGroup.controls['oldPassword'].valid && formGroup.controls['oldPassword'].touched">
        Required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-element" appearance="outline">
      <mat-label>New Password</mat-label>
      <input matInput type="password" placeholder="New Password" formControlName="newPassword">
      <mat-error *ngIf="!formGroup.controls['newPassword'].valid && formGroup.controls['newPassword'].touched">
        Required field, must be greater then 6 characters.
      </mat-error>
    </mat-form-field>


    <mat-form-field class="form-element" appearance="outline">
      <mat-label>Confirm New Password</mat-label>
      <input matInput type="password" placeholder="Confirm New Password" formControlName="confrimNewPassword">
      <mat-error *ngIf="!formGroup.controls['confrimNewPassword'].valid && formGroup.controls['confrimNewPassword'].touched">
        Required field, must be greater then 6 characters.
      </mat-error>
    </mat-form-field>


    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit Form</button>
    </div>

  </form>
</div>