<app-loader-spiner></app-loader-spiner>
<div fxLayout="row" fxLayoutAlign="space-between start">
    <div class="w-100-p">
        <h2 mat-dialog-title>Personal Information</h2>
        <button [mat-dialog-close]="true" class="close">
            <mat-icon>close</mat-icon>
        </button>

        <div class="emtimated-hours" [formGroup]="allocationForm">
            <mat-dialog-content>
            <div class="primary-contact">
                <div fxLayoutGap="10px" fxLayout.md="row" fxLayout.lt-md="column" fxLayoutAlign="space-between start">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" required spellcheck="false">
                    </mat-form-field>

                    <mat-form-field required appearance="outline" class="full-width">
                        <mat-label>Relationship</mat-label>
                        <input matInput formControlName="relationship" required spellcheck="false">
                    </mat-form-field>

                </div>
                <div fxLayoutGap="10px" fxLayout.md="row" fxLayout.lt-md="column" fxLayoutAlign="space-between start">
                    <mat-form-field  appearance="outline" class="full-width">
                        <mat-label>Birth Date</mat-label>
                        <input readonly required  [min]="statDate" matInput [matDatepicker]="startDate"
                            (click)="startDate.open()" formControlName="brithDate">
                        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                        <mat-datepicker #startDate></mat-datepicker>
                    </mat-form-field>
                    
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Phone </mat-label>
                        <input matInput formControlName="mobile" required spellcheck="false">
                    </mat-form-field>

   

                </div>

            </div>
 </mat-dialog-content>
            <mat-dialog-actions>
                <button [disabled]="!allocationForm.valid" fxLayoutGap="10px" color="accent" mat-raised-button
                    (click)="profileEdit()">Update</button>

            </mat-dialog-actions>

        </div>
    </div>

</div>