.project-item{
    font-size: 16px;
    max-width: 200px;
    min-width: 200px;
    padding:10px 0px;
    text-transform: capitalize;
}

.project-item-projectName{
    font-size: 16px;
    max-width: 400px;
    min-width: 400px;
    padding:10px 0px;
    text-transform: capitalize;
    cursor: pointer;
    color:#146096;
}

