// // #martixgridContainer
// // {
// //     background-color: cadetblue;
// // }

// // ::ng-deep .dx-datagrid-rowsview .dx-row.dx-group-row:nth-child(2)  td{
// //     border-top: none;
// //     background-color:  #c98620;
// //     color: white;
// // }

// ::ng-deep #matrixgridContainer .dx-datagrid-header-panel {
//     padding: 0;
//     background-color:#029de6;
    
//   }
  
//   ::ng-deep #matrixgridContainer .dx-datagrid-header-panel .dx-toolbar {
//     margin: 0;
//     padding-right: 20px;
//     padding-left: 20px;
    
    
//   }
  
//   ::ng-deep #matrixgridContainer .dx-datagrid-header-panel .dx-toolbar-items-container {
//     height: 70px;
//     color: #fff;
//   }
  
//   ::ng-deep #matrixgridContainer .dx-datagrid-header-panel .dx-toolbar-before .dx-toolbar-item:not(:first-child) {
//     background-color: #029de6;
    
//   }
  
//   ::ng-deep #matrixgridContainer .dx-datagrid-header-panel .dx-toolbar-before .dx-toolbar-item:last-child {
//     padding-right: 10px;
//   }
  

//   ::ng-deep #matrixgridContainer .dx-datagrid-header-panel .dx-button {
//     margin: auto 0;
    
//   }
  
//   ::ng-deep #matrixgridContainer .informer {
//     height: 70px;
//     width: 130px;
//     text-align: center;
    
//   }
  

::ng-deep .dx-datagrid-content .dx-datagrid-table .dx-row td.dx-datagrid-group-space :nth-child(1){
    border-top: none;
    background-color:#029de6;
    color:white;
}


// .example-form {
//     min-width: 150px;
//     max-width: 500px;
//     width: 100%;
//   }
//   .example-full-width {
//     width: 100%;
//   }


