.profit-table{
    width: 100%;
    tr, th, td{
      padding: 10px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
}
.norecord {
  text-align: center;
  font-size: 20px;
}


.filter-container.top {
    padding: 15px;
    p {
        margin: 0;
        padding: 3px 0;
        display: flex;
        align-items: center;
    }
}
.mat-raised-button {
    width: auto !important;
    padding: 1px 5px !important;
    line-height: normal;
    box-shadow: none !important;
    margin-right: 10px;
    font-size: 14px;
    position: absolute;
    right: 60px;
    top: 10px;
  .mat-icon{
    font-size: 18px;
    top: 3px;
    position: relative;
  }
}

.table-container{
    // .mat-expansion-panel-header {
    //     background:#00a3ab !important;
    //     color: #fff;
    // }
    .mat-expansion-panel-header.mat-expanded {
        height: 48px;
    }
    .mat-expansion-panel-header-title{
        color: #fff !important;
    }
}
.right-section{
mat-form-field {
    width: 100% !important;
    position: absolute;
    right: 0;
    top: 35px;
    right: 30px;
}
}
.mat-checkbox {
    margin: 0 10px;
}
.addcomment {
    color: #800080;
    position: relative;
    top: 5px;
    left: 20px;
    cursor: pointer;
}
.example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .my-panel { 
    width: auto;
    display: flex;
    justify-content: space-between;
  } 
  .my-panel button {
      margin:0;
    } 

  

@media (max-width:768px) {


}