<div fxLayout="row" fxLayoutAlign="space-between start">
    <div class="w-100-p">
        <button [mat-dialog-close]="false" class="close">
            <mat-icon>close</mat-icon>
        </button>
        <h2 mat-dialog-title>Resources</h2>
        <div class="resource">
            <div class="top-resoure" *ngFor="let user of getUser; let i=index;">
              <span (click)="onUserClick(user)" matTooltipClass="custom-tooltip" matTooltip="{{user.name}}" matTooltipPosition="above" class="avatars__initials dept12">{{userInitials(user.name)}}
              </span>
            </div>
        </div>
    </div>

</div>