<app-loader-spiner></app-loader-spiner>
<div fxLayout="row" fxLayoutAlign="space-between start">
    <div class="w-100-p">
        <h2 mat-dialog-title>Employee Register</h2>
        <button [mat-dialog-close]="false" class="close">
            <mat-icon>close</mat-icon>
        </button>

        <div class="emtimated-hours" [formGroup]="allocationForm">
            <form [formGroup]="allocationForm" fxLayout="column">
                <mat-dialog-content>
                <div class="primary-contact">
                    <div class="space-bottom" fxLayoutGap="10px" fxLayout.md="row" fxLayout.lt-md="column"
                        fxLayoutAlign="space-between start">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Title</mat-label>
                            <mat-select color="primary" formControlName="title">
                                <mat-option class="mat-primary" *ngFor="let list of titleList" [value]="list.value">
                                    {{list.name}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="allocationForm.controls.title.errors?.required">Title is
                                required</mat-error>
                        </mat-form-field>
                    
                    
                        
                             <div class="full-width">                                                                
                                <file-pond #myPond 
                                    [options]="pondOptions" 
                                    (oninit)="pondHandleInit()"   
                                    [files]="pondFiles"                                                              
                                    (onaddfile)="pondHandleAddFile($event)">
                                </file-pond>
                             </div>                        
                    </div>

                    <div class="space-bottom" fxLayoutGap="10px" fxLayout.md="row" fxLayout.lt-md="column"
                        fxLayoutAlign="space-between start">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>First Name</mat-label>
                            <input matInput formControlName="firstName" required spellcheck="false">
                            <mat-error *ngIf="allocationForm.controls.firstName.errors?.required">First Name is required
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Last Name</mat-label>
                            <input matInput formControlName="lastName" required spellcheck="false">
                            <mat-error *ngIf="allocationForm.controls.lastName.errors?.required">Last Name is required
                            </mat-error>
                        </mat-form-field>

                    </div>
                    <div class="space-bottom" fxLayoutGap="10px" fxLayout.md="row" fxLayout.lt-md="column"
                        fxLayoutAlign="space-between start">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Middle Name</mat-label>
                            <input matInput formControlName="middleName" spellcheck="false">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" required spellcheck="false">
                            <mat-error *ngIf="allocationForm.controls.email.errors?.required">Email ID is required
                            </mat-error>
                            <mat-error *ngIf="allocationForm.controls.email.hasError('invalidEmail')">Invalid Email ID
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="space-bottom" fxLayoutGap="10px" fxLayout.md="row" fxLayout.lt-md="column"
                        fxLayoutAlign="space-between start">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput formControlName="password" required spellcheck="false">
                            <mat-error *ngIf="allocationForm.controls.password.errors?.required">Password is required
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Confirm Password</mat-label>
                            <input type="password" matInput formControlName="confirmPassword" required spellcheck="false">
                            <mat-error *ngIf="allocationForm.controls.confirmPassword.errors?.required">Confirm Password is
                                required</mat-error>
                                <mat-error *ngIf="allocationForm.controls.confirmPassword.errors?.mustMatch">Password and Confirm Password Should be Same</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="space-bottom" fxLayoutGap="10px" fxLayout.md="row" fxLayout.lt-md="column"
                    fxLayoutAlign="space-between start">

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Gender</mat-label>
                        <mat-select color="primary" formControlName="gender" required>
                            <mat-option class="mat-primary" *ngFor="let gnder of genderList" [value]="gnder.value">
                                {{gnder.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="allocationForm.controls.gender.errors?.required">Gender is
                            required</mat-error>
                    </mat-form-field>


                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Date Of Birth</mat-label>
                        <input readonly required [min]="birthDate" matInput [matDatepicker]="birthDate"
                            (click)="birthDate.open()" formControlName="birthday">
                        <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
                        <mat-datepicker #birthDate></mat-datepicker>                        
                    </mat-form-field>
                    </div>    

                    <div class="space-bottom" fxLayoutGap="10px" fxLayout.md="row" fxLayout.lt-md="column"
                    fxLayoutAlign="space-between start">

                    
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Passport No.</mat-label>
                        <input matInput #input2 formControlName="passportNumber" maxlength="15">
                        <mat-hint>{{input2.value?.length || 0}}/15 </mat-hint>                        
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Passport Expiry Date</mat-label>
                            <input readonly [min]="passportExpiryDate" matInput [matDatepicker]="passportExpiryDate"
                                (click)="passportExpiryDate.open()" formControlName="passportExpiry">
                            <mat-datepicker-toggle matSuffix [for]="passportExpiryDate"></mat-datepicker-toggle>
                            <mat-datepicker #passportExpiryDate></mat-datepicker>
                            
                        </mat-form-field>  
                    </div>  

                    <div class="space-bottom" fxLayoutGap="10px" fxLayout.md="row" fxLayout.lt-md="column"
                    fxLayoutAlign="space-between start">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Nationality</mat-label>
                        <mat-select color="primary" formControlName="nationality">
                            <mat-option class="mat-primary" *ngFor="let country of countries" [value]="country.code">
                                {{country.name}}</mat-option>
                        </mat-select>                                                
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Personal Email</mat-label>
                        <input matInput formControlName="personalEmail" spellcheck="false">                                                
                    </mat-form-field>
                    </div>           
                    
                    
                    
                    


                    <div class="space-bottom" fxLayoutGap="10px" fxLayout.md="row" fxLayout.lt-md="column"
                        fxLayoutAlign="space-between start">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Designation</mat-label>
                            <mat-select color="primary" formControlName="designationId">
                                <mat-option class="mat-primary" *ngFor="let emp of degisationList" [value]="emp.id">
                                    {{emp.name}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="allocationForm.controls.designationId.errors?.required">Designation is
                                required</mat-error>
                        </mat-form-field>
                    
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Lead</mat-label>
                            <mat-select color="primary" formControlName="leadId">
                                <mat-option class="mat-primary" *ngFor="let lead of employeeList" [value]="lead.id">
                                    {{lead.name}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="allocationForm.controls.leadId.errors?.required">Lead Name is
                                required</mat-error>
                        </mat-form-field>
                       </div>        

                       

                    <div class="space-bottom" fxLayoutGap="10px" fxLayout.md="row" fxLayout.lt-md="column"
                        fxLayoutAlign="space-between start">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Work Location</mat-label>
                            <mat-select color="primary" formControlName="workLocation">
                                <mat-option class="mat-primary" *ngFor="let emp of workLocationList" [value]="emp.id">
                                    {{emp.name}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="allocationForm.controls.workLocation.errors?.required">WorkLocation is
                                required</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Employment Status</mat-label>
                            <mat-select  color="primary" formControlName="employmentStatus">
                                <mat-option class="mat-primary" *ngFor="let emp of employmentStatusList" [value]="emp.id">
                                    {{emp.name}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="allocationForm.controls.employmentStatus.errors?.required">Employment Status is required
                            </mat-error>
                        </mat-form-field>
                    </div>

                    
                    <div class="space-bottom" fxLayoutGap="10px" fxLayout.md="row" fxLayout.lt-md="column"
                        fxLayoutAlign="space-between start">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Employee Salary</mat-label>
                        <input matInput formControlName="employeesalary" spellcheck="false">
                        
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Joining Date</mat-label>
                        <input readonly required [min]="statDate" matInput [matDatepicker]="startDate"
                            (click)="startDate.open()" formControlName="joinDate">
                        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                        <mat-datepicker #startDate></mat-datepicker>
                        <mat-error *ngIf="allocationForm.controls.joinDate.errors?.required">Joining Date is
                            required</mat-error>
                    </mat-form-field>
                    </div>  
                    
                    
                    <!-- here .. -->
                    <div class="space-bottom" fxLayoutGap="10px" fxLayout.md="row" fxLayout.lt-md="column"
                    fxLayoutAlign="space-between start">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Marital Status</mat-label>
                        <mat-select color="primary" formControlName="maritalStatus" >
                            <mat-option class="mat-primary" *ngFor="let option of maritalStatusList" [value]="option.value">
                                {{option.name}}</mat-option>
                        </mat-select>                        
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>No. Of Dependants</mat-label>
                        <input matInput #input4 formControlName="noOfDependents" maxlength="2">
                        <mat-hint>{{input4.value?.length || 0}}/2 </mat-hint>                        
                    </mat-form-field>
                    </div>

                    <div class="space-bottom" fxLayoutGap="10px" fxLayout.md="row" fxLayout.lt-md="column"
                    fxLayoutAlign="space-between start">

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Mobile No.</mat-label>
                        <input matInput #input1 formControlName="mobileNumber" maxlength="15" required>
                        <mat-hint>{{input1.value?.length || 0}}/15 </mat-hint>
                        <mat-error *ngIf="allocationForm.controls.mobileNumber.errors?.required">Mobile Number is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Phone No.</mat-label>
                        <input matInput #input5 formControlName="phone" maxlength="15">
                        <mat-hint>{{input5.value?.length || 0}}/15 </mat-hint>                        
                    </mat-form-field>                  
                    </div>

                    
                    <div class="space-bottom" fxLayoutGap="10px" fxLayout.md="row" fxLayout.lt-md="column"
                    fxLayoutAlign="space-between start">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Employee Status</mat-label>
                        <mat-select  color="primary" formControlName="status">
                            <mat-option class="mat-primary" *ngFor="let opt of employeeStatusList" [value]="opt.value">
                                {{opt.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="allocationForm.controls.status.errors?.required">Employee Status is required
                        </mat-error>
                    </mat-form-field>
                    </div>

                </div>
                </mat-dialog-content>
                <mat-dialog-actions>
                    <button  *ngIf="this.data != null" fxLayoutGap="10px" color="accent" mat-raised-button (click)="updateEmployeeDetails()">
                        Update
                    </button>
                    <button *ngIf="this.data == null" fxLayoutGap="10px" color="accent" mat-raised-button (click)="onSubmit()">
                        Register
                    </button>
                </mat-dialog-actions>
            </form>
        </div>
    </div>

</div>




                    <!-- <div class="space-bottom" fxLayoutGap="10px" fxLayout.md="row" fxLayout.lt-md="column"
                    fxLayoutAlign="space-between start">

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Religion</mat-label>                        
                        <mat-select color="primary" formControlName="religion" >
                            <mat-option class="mat-primary" *ngFor="let rel of religionList" [value]="rel.value">
                                {{rel.name}}</mat-option>
                        </mat-select>  
                    </mat-form-field> -->

                    <!-- <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Contact ID</mat-label>
                        <input matInput #input7 formControlName="contactId" maxlength="15">
                        <mat-hint>{{input7.value?.length || 0}}/15 </mat-hint>                        
                    </mat-form-field>                  
                    </div> -->

                    <!-- <mat-error *ngIf="allocationForm.controls.lastName.errors?.required">Employee Salary is required
                        </mat-error> -->

                     
                        <!-- <mat-error *ngIf="allocationForm.controls.personalEmail.hasError('invalidEmail')">Invalid Email ID
                        </mat-error> -->   

                        <!-- <mat-label>Upload Image</mat-label>
                                <input mat #fileUpload (change)="uploadFile($event)" formControlName="profilePath" type="file">     -->

                      <!-- <mat-error *ngIf="allocationForm.controls.birthDay.errors?.required">Date of Birth is
                            required</mat-error> -->          


                       <!--
                         <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Upload Image</mat-label>
                            <input mat #fileUpload (change)="uploadFile($event)" formControlName="profilePath" type="file"> 
                            <mat-file-upload mat #fileUpload (change)="uploadFile($event)" formControlName="profilePath" type="file"></mat-file-upload>
                        </mat-form-field> -->     

                        <!-- <mat-error *ngIf="allocationForm.controls.nationality.errors?.required">Nationality is required
                        </mat-error> -->

                        <!-- <mat-error *ngIf="allocationForm.controls.passportNumber.errors?.required">Passport Number is required
                        </mat-error> -->