 <div class="container p-12 w-100-p">
    <div>
        <h1>Review Request</h1>
    </div>
    <!-- <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start strech">
        <div fxLayout="column" fxLayoutAlign="space-between start" fxFlex.lt-md="100" fxFlex.gt-sm="40">
            <div>
                <div>
                    <span class="emp-name">Sohan</span>
                </div>
         
            </div>
        </div>
    </div> -->
    <div class="pt-12" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between none">
        <div fxFlex.lt-md="100" fxFlex.gt-sm="70" fxLayout="column" class="leave-container">
            <div class="leave-reason mt-16" fxLayout="row" fxLayoutAlign="start start">
                Reason<br />
            </div>
            <div class="mt-16" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="end end" fxLayoutGap="10px">
                <button mat-raised-button color="primary">Approve</button>
                <button mat-stroked-button color="warn">Reject</button>
            </div>
        </div>

    </div>
</div> 


