<app-loader-spiner></app-loader-spiner>
<div fxLayout="row" fxLayoutAlign="space-between start">
    <div class="w-100-p">
        <h2 mat-dialog-title>New Resource</h2>
        <button [mat-dialog-close]="false" class="close">
            <mat-icon>close</mat-icon>
        </button>

        <div class="emtimated-hours" [formGroup]="addForm">
            <form [formGroup]="addForm" fxLayout="column" (ngSubmit)="onSubmit()">
                <mat-dialog-content>
                <div class="primary-contact">
                    <div class="space-bottom" fxLayoutGap="10px" fxLayout.md="row" fxLayout.lt-md="column"
                        fxLayoutAlign="space-between start">
                        <app-project-dropdown class="resorcefilter" (projectId)="projectId($event)"></app-project-dropdown>
                        <!-- <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Project</mat-label>
                            <mat-select required color="primary" formControlName="project" multiple>
                                <mat-option class="mat-primary" *ngFor="let item of projectArray" [value]="item.id">
                                    {{item.projectName}}
                                </mat-option>
                            </mat-select> 
                            <mat-error *ngIf="addForm.controls.project.errors?.required">Project Name is required
                            </mat-error>
                        </mat-form-field> -->
                    </div> 
                    <!-- <app-resource-dropdown class="resource-search" (employeeId)="getEmployeValue($event)"></app-resource-dropdown> -->
                    <div class="space-bottom" fxLayoutGap="10px" fxLayout.md="row" fxLayout.lt-md="column"
                        fxLayoutAlign="space-between start">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Resource</mat-label>
                            <mat-select required color="primary" formControlName="resource" multiple>
                                <mat-option class="mat-primary" *ngFor="let emp of employees" [value]="emp.id">
                                    {{emp.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="addForm.controls.resource.errors?.required">Resource Name is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="resource-div">
                        <div [ngClass]="res.resourceId==showContract ?'active':''" *ngFor="let res of tempResources" class="resource-badge" (click)="AllocateTime(res)">
                          {{res.name}}
                        </div>
                      </div>
                    <div class="space-bottom" fxLayoutGap="10px" fxLayout.md="row" fxLayout.lt-md="column"
                        fxLayoutAlign="space-between start">
                        <mat-form-field appearance="outline" fxFlex.gt-sm="100">
                            <mat-label>From Month</mat-label>
                            <input required readonly matInput [matDatepicker]="startDate" (click)="startDate.open()"
                                formControlName="startDate" autocomplete="off">
                            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                            <mat-datepicker #startDate></mat-datepicker>
                            <mat-error *ngIf="addForm.controls.startDate.errors?.required">Start Date is required
                            </mat-error>
                        </mat-form-field>
                     
                    </div>
                    <div class="space-bottom" fxLayoutGap="10px" fxLayout.md="row" fxLayout.lt-md="column"
                        fxLayoutAlign="space-between start">
                        <mat-form-field appearance="outline" fxFlex.gt-sm="100">
                            <mat-label>To Month</mat-label>
                            <input required readonly [min]="addForm.value.startDate" matInput [matDatepicker]="endDate"
                                (click)="endDate.open()" formControlName="endDate" autocomplete="off">
                            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                            <mat-datepicker #endDate></mat-datepicker>
                            <mat-error *ngIf="addForm.controls.endDate.errors?.required">End Date is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div *ngIf="showContract && this.tempResources.length > 0" class="space-bottom" fxLayoutGap="10px" fxLayout.md="row" fxLayout.lt-md="column"
                        fxLayoutAlign="space-between start">
                        <mat-form-field appearance="outline" fxFlex.gt-sm="100">
                            <mat-label>Contract%</mat-label>
                            <input (focusout)="addResource()" autocomplete="off" (keypress)="numberOnly($event)" matInput formControlName="contract" required
                                spellcheck="false">
                                <mat-error *ngIf="addForm.controls.contract.errors?.required">Contract is required
                                </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex.gt-sm="100">
                            <mat-label>Planned %</mat-label>
                            <input (focusout)="addResource()" autocomplete="off" (keypress)="numberOnly($event)" matInput formControlName="planned" required
                                spellcheck="false">
                                <mat-error *ngIf="addForm.controls.planned.errors?.required">Planned is required
                                </mat-error>
                        </mat-form-field>
                    </div>
                    <!-- <div class="space-bottom" fxLayoutGap="10px" fxLayout.md="row" fxLayout.lt-md="column"
                        fxLayoutAlign="space-between start">
      
                    </div> -->
                </div>
                </mat-dialog-content>
                <mat-dialog-actions>
                    <button fxLayoutGap="10px" color="accent" mat-raised-button>Save</button>
                </mat-dialog-actions>
            </form>
        </div>
    </div>

</div> 