<div mat-dialog-content>
    <table>
        <tr *ngFor="let item of data.wrongKeynoteList">
            <td>{{item}}</td>
        </tr>
    </table>
    <table>
        <tr *ngFor="let items of data.KeynotesIn_File">
            <td>{{items}}</td>
        </tr>
    </table>
    <table>
        <tr *ngFor="let items of data.wrongKeynotesUsedInModel">
            <td>{{items}}</td>
        </tr>
    </table>
    <table>
        <tr *ngFor="let items of data.List_KeynotesIn_Model">
            <td>{{items}}</td>
        </tr>
    </table>
    <table>
        <tr *ngFor="let items of data.List_UnUsedKeynotess">
            <td>{{items}}</td>
        </tr>
    </table>

    <!-- <table>
        <tr *ngFor="let items of data.keynotesInModel">
            <td>{{items.keynotesInModel}}</td>
        </tr>
    </table>
    <table>
        <tr *ngFor="let items of data.totalKeynotesInModel">
            <td>{{items.totalKeynotesInModel}}</td>
        </tr>
    </table>
    <table>
        <tr *ngFor="let items of data.LevelLinkedWithWalls">
            <td>{{items.LevelLinkedWithWalls}}</td>
        </tr>
    </table>
    <table>
        <tr *ngFor="let items of data.listOfInvalidDoor">
            <td>{{items.listOfInvalidDoor}}</td>
        </tr>
    </table>
    <table>
        <tr *ngFor="let items of data.listOfValidDoors">
            <td>{{items.listOfValidDoors}}</td>
        </tr>
    </table>
    <table>
        <tr *ngFor="let items of data.Invalid_doors_List">
            <td>{{items.Invalid_doors_List}}</td>
        </tr>
    </table> -->
</div>
<div mat-dialog-actions class="pt-24">
    
</div>
